<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <iranimij_badger>
            <general>
                <enabled>1</enabled>
                <new_for_days>14</new_for_days>
            </general>
            <display>
                <max_labels>0</max_labels>
                <show_several_on_place>1</show_several_on_place>
                <labels_alignment>left</labels_alignment>
                <margin_between>10</margin_between>
                <hide_if_zero_label>0</hide_if_zero_label>
            </display>
            <selectors>
                <category_image>.product-image-photo</category_image>
                <product_page_image>.gallery-placeholder</product_page_image>
            </selectors>
            <on_sale>
                <sale_min>0</sale_min>
                <sale_min_percent>0</sale_min_percent>
                <rounding>round</rounding>
            </on_sale>
            <new>
                <use_new_dates>1</use_new_dates>
                <use_creation_date>1</use_creation_date>
            </new>
            <stock_status>
                <out_of_stock_only>0</out_of_stock_only>
                <default_label></default_label>
            </stock_status>
            <tooltip>
                <enabled>1</enabled>
                <background_color>#222222</background_color>
                <text_color>#ffffff</text_color>
            </tooltip>
        </iranimij_badger>
    </default>
</config>
