<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="catalog_entity_attribute_delete_commit_after">
        <observer name="iranimij_badger_attribute_delete"
                  instance="Iranimij\Badger\Observer\CatalogAttributeDeleteObserver"/>
    </event>
    <event name="catalog_entity_attribute_save_commit_after">
        <observer name="iranimij_badger_attribute_save"
                  instance="Iranimij\Badger\Observer\CatalogAttributeSaveObserver"/>
    </event>
</config>
